# Open and Read File

In [4]:
# openning file.txt
with open(file = 'file.txt', mode = 'r') as f:
    text = f.readlines()
print(text)

['Hello\n', 'This is our Text File\n', 'Read this line by line\n', 'ip=5;id=3;il=20;\n', 'ip=52;id=32;il=30;\n', 'ip=51;id=43;il=60;\n', 'ip=55;id=13;il=70;\n', 'ip=57;id=32;il=20;\n', 'ip=58;id=37;il=10;\n', 'ip=59;id=5;il=100;']

# JSON Data

In [14]:
my_data = {
    'books': 12,
    'articles': 30,
    'subjects': [
        'math',
        'computer_science',
        'programming'
    ]
}
print(my_data)

{'books': 12, 'articles': 30, 'subjects': ['math', 'computer_science', 'programming']}

In [16]:
# act the data above is some api , we need to import the json
import json as js

json_string = js.dumps(my_data)
print(json_string)

data_dict = js.loads(json_string)
print(f'\ndictionary style :')
print(data_dict)
print(f'\ntype of json_string : {type(json_string)}')
print(f'type of data_dict : {type(data_dict)}')

# we can convert string back to dictionary again with the json.loads

{"books": 12, "articles": 30, "subjects": ["math", "computer_science", "programming"]}

dictionary style :
{'books': 12, 'articles': 30, 'subjects': ['math', 'computer_science', 'programming']}

type of json_string : <class 'str'>
type of data_dict : <class 'dict'>

# Credentials Data as .py

In [21]:
import credentials as creds
print(f'username : {creds.username},\npassword : {creds.password}')

username : ry,
password : somethinglongandcomplicated

# Save Python Object Using Pickle

In [23]:
import pickle as pk
data_dict = {
    'books': 12,
    'articles': 30,
    'subjects': [
        'math',
        'computer_science',
        'programming'
    ]
}

with open('readings.pk', 'wb') as f:
    pk.dump(data_dict, f)

In [25]:
# Openning the pk file
with open('readings.pk', 'rb') as f:
    data = pk.load(f)
print(data)

{'books': 12, 'articles': 30, 'subjects': ['math', 'computer_science', 'programming']}

# SQL - SQLite3

In [9]:
# import sqlite3
import sqlite3

#set connection
connection = sqlite3.connect('../chinook.db')
cursor = connection.cursor()

artist = cursor.execute('SELECT * FROM artists LIMIT 5;').fetchall()

print(artist)

cursor.execute("""
    SELECT Total, BillingCountry
    FROM invoices
    WHERE BillingCountry == "Canada"
    LIMIT 5;
""")
cursor.fetchall()

[(1, 'AC/DC'), (2, 'Accept'), (3, 'Aerosmith'), (4, 'Alanis Morissette'), (5, 'Alice In Chains')]

[(8.91, 'Canada'),
 (8.91, 'Canada'),
 (0.99, 'Canada'),
 (1.98, 'Canada'),
 (13.86, 'Canada')]

# Create SQLite3 Database

In [128]:
book_data = [
('12-1-2020', 'Practical Data Science With Python', 19.99, 1),
('12-15-2020', 'Python Machine Learning', 27.99, 1),
('12-17-2020', 'Machine Learning For Algorithmic Trading', 34.99, 1)
]

connection = sqlite3.connect('book_sales.db')
cursor = connection.cursor()

# create db
cursor.execute('''CREATE TABLE IF NOT EXISTS book_sales
             (date text, book_title text, price real, quantity real)''')

# the table is now there
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.fetchall()

[('book_sales',)]

In [129]:
# insert data
cursor.execute("INSERT INTO book_sales VALUES (?, ?, ?, ?)", book_data[0])

cursor.execute("SELECT * from book_sales;").fetchall()

[('12-1-2020', 'Practical Data Science With Python', 19.99, 1.0)]

In [130]:
# insert many data
cursor.executemany('INSERT INTO book_sales VALUES (?, ?, ?, ?)', book_data[1:])
cursor.execute("SELECT * from book_sales;").fetchall()

[('12-1-2020', 'Practical Data Science With Python', 19.99, 1.0),
 ('12-15-2020', 'Python Machine Learning', 27.99, 1.0),
 ('12-17-2020', 'Machine Learning For Algorithmic Trading', 34.99, 1.0)]

In [131]:
# commit the transaction or it never happen
connection.commit()

# finally close it
connection.close()

# SQLAlchemy

SQLAlchemy is a python package for interacting with Database using Object-thing just like Laravel Eloquents or Rails ActiveStorage

In [132]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///book_sales.db')
conn = engine.connect()

In [133]:
results = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
results.fetchall()

[('book_sales',)]

In [134]:
book_sale = conn.execute("SELECT book_title FROM book_sales;")
book_sale.fetchall()

[('Practical Data Science With Python',),
 ('Python Machine Learning',),
 ('Machine Learning For Algorithmic Trading',)]

In [135]:
# close the connection
conn.close()

## SQLAlchemy in with

In [137]:
with engine.connect() as conn:
    res = conn.execute("SELECT * FROM book_sales")
    for row in res:
        print(row)

('12-1-2020', 'Practical Data Science With Python', 19.99, 1.0)
('12-15-2020', 'Python Machine Learning', 27.99, 1.0)
('12-17-2020', 'Machine Learning For Algorithmic Trading', 34.99, 1.0)